html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden; /* 스크롤 숨기기 */
  }
  
  .Main-header {
    height: 10vh;
  }
  
  .ShowCal {
    width: 100vw;
    height: 90vh; /* 화면의 80% 높이로 설정 */
    display: flex;
    background-color: rgba(240, 240, 240, 1); /* 투명도를 낮춘 배경색 */
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .Calendar {
    display: flex;
    width: 60vw;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    border-right: 1px solid black;
  }
  
  .Circle {
    display: flex;
    width: 40vw;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
  }
  
  .Calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw; /* 너비 조정 */
    justify-content: space-between;
  }
  
  .calendar-header {
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; /* header 너비를 화면 너비로 맞춤 */
    background-color: #fff; /* 배경색을 흰색으로 고정 */
    padding: 10px; /* 패딩 추가 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    margin-bottom: 5vh;
  }
  
  #calendar {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7열 그리드 */
    gap: 7px; /* 셀 간격 */
    font-family: 'Metal Mania', Arial, sans-serif; /* 글씨체 변경 */
  }
  
  .day-name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    font-weight: bold;
    background-color: #f0f0f0;
  }
  
  .day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .day.today {
    color: #ffffff;
  }
  
  .day.weekend {
    color: #d10000;
  }
  
  .day.saturday {
    color: blue;
  }
  
  .day.other-month {
    background-color: #f0f0f0;
  }