/* App.css */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden; /* 스크롤 숨기기 */
  background-color: #fafafa;
}

.inner_header {
  display: flex;
  align-items: center;
  height: 10vh;
}

.header-image {
  max-height: 60%;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* 입력창 하단에 맞추기 */
  margin-top: 5vh;
}

.markdown-input {
  width: 50vw;
  height: 80vh;
  padding: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.input-container button {
  margin-left: 10px; /* 입력창과 버튼 사이의 간격 조정 */
  height: 40px; /* 버튼의 높이 설정 */
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  padding: 0 20px; /* 버튼의 좌우 패딩 설정 */
}

.input-container button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.input-container button:hover:enabled {
  background-color: #0056b3;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-spinner {
  color: white;
  font-size: 1.5em;
}
